*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.login{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 16px;
}
.l2{
  border: 2px solid black;
  padding: 40px 60px 80px 60px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}
