/* *{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    padding: 0;
}

.register{
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
font-size: 20px;


}
.heading{
    display: flex;
      justify-content: center;
      align-items: center; 
     color:black;
   font-size: 50px;
}
.r2{
    border: 2px solid black;
  
    padding: 20px 100px 70px 100px;
    
    box-shadow: 2px 2px 10px black;
}

.label{

    color:black;
    display: block;
    margin-bottom: 5px;
  
}

.input{
    border: 3px solid gray;
    width: 100%;
    
 padding: 10px 15px 10px 15px;
 border-radius: 10px;
 margin-top: 5px;
 font-size: large;

}

.input:focus{
    border-color: blue;
} */

*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.register{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 16px;
}

.heading{
  text-align: center;
  font-size: 32px;
  color: black;
  margin-bottom: 15px;
}

.r2{
  border: 2px solid black;
  padding: 20px 60px 40px 60px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.label{
  display: block;
  color: black;
  font-size: 14px;
  margin-bottom: 4px;
}

.input{
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  border: 2px solid gray;
  border-radius: 8px;
  margin-bottom: 12px;
}

.input:focus{
  border-color: blue;
  outline: none;
}

.btn-google {
  height: 40px;  
  width: auto;   
  display: flex; 
  align-items: center; 
  font-weight: 700;
  justify-content: center; 
  gap: 10px; 
}

.btn-google img {
  height: 20px;
  width: 20px;  
  margin: 0;    
}
.btn-sub{
  color: white;
  cursor: pointer;
  font-size: large;
  margin-top: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
}